<!-- HEADER -->
<header>
  <section class="header-pokedex">
      <img src="../../assets/img/back.svg" alt="Pokebola atras">
      <h1>POKEDEX</h1>
      <img src="../../assets/img/bxl-github.svg" width="50px" alt="logo github">
  </section>
  <section class="all-body">
    <hr>
    <app-pokemon-list></app-pokemon-list>
    <div class="equiposelect">
      <h1>THIS IS YOUR TEAM</h1>
      <div class="armaequipo">
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="empty"></div>
        <div class="empty"></div>
      </div>
    </div>
  </section>
</header>
<!-- END HEADER -->
