footer
  bottom: 0
section
  display: flex
  background: #ebe8e8
  align-items: center
  justify-content: space-between
  border-top: 2px solid black

  .logofooter
    img
      width: 200px

  .redes
    i
      font-size: 30px
      padding: 5px
      color: #026dcbb2

//
