<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <img src="../../assets/img/pokemon-name.webp" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/header' routerLinkActive="active-link">POKEMONS</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ABOUT US
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink='/header' routerLinkActive="active-link">ABOUT ME</a></li>
            <li><a class="dropdown-item" routerLink='/header' routerLinkActive="active-link">MY TEAM</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" routerLink='/header' routerLinkActive="active-link">CONTACT ME</a></li>
          </ul>
        </li>

      </ul>
      <form class="d-flex" role="search" onsubmit='searchPokemon(event)'>
        <input class="form-control me-2" type="search" placeholder="Find Your Pokemon Here" aria-label="Search" onsubmit="searchPokemon(event)">
        <button class="btn btn-outline-success" type="submit" onsubmit="searchPokemon(event)">Search</button>
      </form>
      <div data-poke-card class="poke-card">
        <div data-poke-name>search pokemon</div>
        <div data-poke-img-container class="img-container">
          <img data-poke-img class="poke-img" src="../../assets/img/pokelogo.png">
        </div>
        <div data-poke-id></div>
        <div data-poke-hp></div>
        <div data-poke-att></div>
        <div data-poke-weight></div>
        <div data-poke-types class="poke-types"></div>
        <div data-poke-stats class="poke-stats"></div>
      </div>
    </div>
  </div>
</nav>
